@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
    background: #1d1c22 !important;
    color: #7c7891;
}

.navbar {
    background: #1d1c22 !important;
}

#ems__navbar > ul > li > .nav-link {
    color: #7c7891 !important;
}

nav > div > a > .ems__logo {
    height: 38px;
    width: 38px;
}

.bg- #ems__hero {
    /* background: url(../assets/hero.jpeg); */
    background: url("https://image.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg");
    background-position: center;
    background-size: cover;
}

.bg-layer {
    background: rgba(0, 0, 0, 0.7);
}

.bg-none {
    background: none;
}

.clients__1 {
    width: 100px;
    height: 20px;
}

.contact-header {
    width: 100%;
    height: 50vh;
    background: url(../assets/contact-header.png);
    background-position: center;
    background-size: cover;
}

.bg-trans {
    background-color: transparent !important;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.bg-lin-grad-blue {
    background: #6647ff;
}

.bg-create-an-event {
    background: url(../assets/create-event.jpg);
    background-position: center;
    background-size: cover;
}

.nice-rounded-left {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.nice-rounded-right {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.zoom-on-over {
    max-height: 450px;
    min-height: 450px;
    overflow-wrap: break-word;
    cursor: pointer;
    transition: 0.5s transform;
}

.zoom-on-over:hover {
    transform: scale(1.02) translateZ(0);
}

.card-img-top {
    max-height: 200px;
    min-height: 200px;
}

#ems__features {
    background: url(https://images.unsplash.com/photo-1573164713988-8665fc963095?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
}

.jumbotron {
    background: url(https://image.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg);
    /* background: url("https://image.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;
}

/* Imported from Our Task Style */
.full-screen {
    width: 100%;
    height: 100vh;
    background-position: center;
    /* background-image: linear-gradient(
        -225deg,
        #69eacb 0%,
        #eaccf8 48%,
        #6654f1 100%
    ); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.img {
    width: 100%;
    height: 12rem;
    position: relative;
    background: url(https://image.freepik.com/free-psd/black-laptop-dark-mockup_117023-1157.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-clrd {
    color: #68cef7;
}

.bg-clr {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.btn-grad {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.content-container {
    position: relative;
    top: 5%;
    box-shadow: 0 0 30px rgb(2, 2, 2);
}

.max-width-500 {
    max-width: 500px;
}
